<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Project Athena</title>
        <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/kube/6.5.2/css/kube.min.css" /> -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css" />        
    </head>
    <body>