<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>fart</title>
  </head>
  <body>
    <h1>rFinder</h1>
    <h3> <%= email %>@ <%= domain %></h3>
    <ul>
      <% for(var i=0; i<first.length; i++) { %>
        <li>
          <%= first[i]%>, <%= last[i]%>
        </li>
    <% } %>
    </ul>
  </body>
</html>